//color links and buttons
//2ac962 - green
//FF9800 - orange
$primary: #2ac962;
$primaryHover: darken($primary, 20%);

$secondary: #ffa622;
$secondaryHover: darken($secondary, 20%);

//google recommended  dark theme color
$dark: #121212;

//transition time on link/button hover
$transition: 0.25s;

body{
	background-color: #121212;
}
h1, h2, h3, h4, h5, h6, p{
	color: #fff;
}
.customFA, .customFAsmaller{
	color: #e5e5e5;
	
	transition: $transition;
	&:hover{
		color: #fff;
	}
}