//custom class for links. fontawesome icons are links so styling on the <a> tag affect them aswell
.link{
	color: $primary;
	text-decoration: none;
	transition: $transition;
	&:hover{
		color: $primaryHover;
		text-decoration: none;
	}
}

.hero-focus{
	color: $primary;
	font-weight: bold;
}