@media screen and (max-width: 480px) {		
	//Frontpage
	.hero-container{
		min-height: 360px;
	}
	.hero-btn-1{
		margin-bottom: 10px;
	}
	.hero-title{
		margin-top: 25px;
		font-size: 30px;
	}
	.hero-subtitle{
		font-size: 15px;
	}
	
	//centering fa icons
	.customFA{
		text-align: center;
	}
}
