@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

body {
  font-family: "Roboto", "verdana", "helvetica", "arial", sans-serif;
  line-height: 1.5;
  background-color: #fff;
}

.hero-container {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../images/hero.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/hero.jpg");
  min-height: 500px;
  background-size: cover;
  background-position: center;
}

.navbar-dark, .navbar-toggler {
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.navbar-dark:hover, .navbar-toggler:hover {
  border-color: white;
}
.navbar-dark:focus, .navbar-toggler:focus {
  outline: white;
}

.badge-primary {
  background-color: #2a8fc9;
}

.customFA {
  font-size: 200px;
  color: #212529;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.customFA:hover {
  color: #17191c;
}

.customFAsmaller {
  font-size: 100px;
  color: #212529;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.customFAsmaller:hover {
  color: #17191c;
}

#hero-btn-1 {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  color: white;
  border-radius: 20px;
  padding: 20px 70px 20px 70px;
  font-weight: bold;
  font-size: 20px;
  border-style: solid;
  border-width: 2px;
  background-color: #2a8fc9;
  border-color: #2a8fc9;
}
#hero-btn-1:hover {
  border-color: transparent;
  background-color: #185375;
}

#hero-btn-2 {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  color: white;
  border-radius: 20px;
  padding: 20px 70px 20px 70px;
  font-weight: bold;
  font-size: 20px;
  border-style: solid;
  border-width: 2px;
  background-color: transparent;
  border-color: #2a8fc9;
}
#hero-btn-2:hover {
  border-color: transparent;
  background-color: #185375;
}

.btn-main {
  background-color: #2a8fc9;
  color: white;
  border-style: none;
  border-radius: 5px;
  padding: 20px 70px 20px 70px;
  font-weight: bold;
  display: block;
  font-size: 20px;
  margin: auto;
  margin-top: 20px;
  width: 100%;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.btn-main:hover {
  background-color: #185375;
}

#button {
  display: inline-block;
  background-color: #2a8fc9;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button:hover {
  cursor: pointer;
  background-color: #185375;
}

#button::after {
  content: "";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

/*
a {
	color: $primary;
	text-decoration: none;
	transition: 0.5s;
	//font-weight: bold;
	&:hover{
	color: $primaryHover;
	text-decoration: none;
	}
}
*/
.link {
  color: #2a8fc9;
  text-decoration: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.link:hover {
  color: #185375;
  text-decoration: none;
}

.hero-title {
  margin-top: 100px;
  font-size: 80px;
}

.hero-subtitle {
  font-size: 20px;
}

h1 {
  font-size: 60px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

h6 {
  font-weight: bold;
}

p {
  font-size: 16px;
}

.hero-focus {
  color: #2a8fc9;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .media {
    display: block;
  }

  .align-self-start {
    display: block;
    margin-right: auto !important;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
  }

  .hero-container {
    min-height: 360px;
  }

  .hero-btn-1 {
    margin-bottom: 10px;
  }

  .hero-title {
    margin-top: 25px;
    font-size: 30px;
  }

  .hero-subtitle {
    font-size: 15px;
  }

  .customFA {
    text-align: center;
  }
}