//buttons
@mixin hero-btn-base{
	transition: $transition;
	color: white;
	border-radius: 20px;
	padding: 20px 70px 20px 70px;
	font-weight: bold;
	font-size: 20px;
	border-style: solid;
	border-width: 2px;
}